ul,p,li{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

/**{
	position:relative;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}*/

@mixin cube ($size){
	width: $size;
	height: $size;
	background: green;
}

@mixin changfang($wh,$hi){
	width: $wh;
	height: $hi;
 /*   background: #666;*/
}
@mixin gai{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin circle($size){
	width: $size;
	height:$size;
	border-radius:50%;
	background: yellow;
}

@mixin topbottom{
	position:absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

@mixin leftright {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

@mixin zhong{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: red;
}

